<div class="login_form">
<%= form_tag login_path class: 'form' do %>
    <div class="login-content">
      <h2>Login</h2>
      <div class="">
        <%= label_tag :username %>
        <%= text_field_tag :username %>
      </div>


      <div class="">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>


      <div class="">
        <%= submit_tag 'Login', class: "button"%>
      </div>
  </div>
<% end %>
</div>
