<%= form_for @user do |f| %>

<div class="row">
  <div class="one-third column">&nbsp;</div>
  <div class="one-third column">
      <%= f.label :name %>
      <%= f.text_field :name %>
  </div>
  <div class="one-third column">&nbsp;</div>
</div>

<div class="row">
  <div class="one-third column">&nbsp;</div>
  <div class="one-third column">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="one-third column">&nbsp;</div>
</div>

<div class="row">
  <div class="one-third column">&nbsp;</div>
  <div class="one-third column">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="one-third column">&nbsp;</div>
</div>

<div class="row">
  <div class="one-third column">&nbsp;</div>
  <div class="one-third column">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="one-third column">&nbsp;</div>
</div>

<div class="row">
  <div class="one-third column">&nbsp;</div>
  <div class="one-third column">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
</div>

<div class="row">
  <div class="one-third column">&nbsp;</div>
  <div class="one-third column">
    <%= f.submit 'Register', class: "button-primary"%>
  </div>
  <div class="one-third column">&nbsp;</div>
</div>

<% end %>
