<div class="row">
  <div class="twelve columns user-show">
    <h4>Welcome <%= @user.username %>, select a currency</h4>
  </div>
</dv>

<div class="row"></div>
<div class="twelve columns input-box">
  <%= form_tag :tweets, method: :get, class: "form-inline" do %>
  <div class='crypto-dropdown'>
    <%= label_tag :crypto %><br/>
    <%= select_tag 'crypto_id', options_for_select(Crypto.all.collect{ |u| [u.name, u.id] }) %>
    <%= submit_tag "Get Tweets", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
