<header>
  <!-- Hero Image -->
  <div class="background-img">
  </div>

  <%= cache current_user do %>
  <!-- Navigation Bar -->
  <nav class="fixed-nav-bar">
    <div class="home-nav">
      <% if current_user %>
        <%= link_to 'Home', root_path %>
      <% end %>
      </div>

    <% if current_user %>
    <div class="title-main-nav">
      <%= link_to image_tag(asset_path('icon.png')), user_path(current_user.slug) %>
    </div>
    <% else %>
    <div class="title-main-nav">
      <%= image_tag(asset_path('icon.png')) %>
    </div>
    <% end %>

      <div class="signout-nav">
        <% if current_user %>
          <%= link_to 'Log Out', logout_path, method: :delete %>
        <% end %>
      </div>
  </nav>
  <% end %>

</header>
