<!DOCTYPE html>
<html>
  <head>
    <title>FIVER</title>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  </head>

  <body>
      <%= render partial: 'layouts/nav' %>
    <div class="container">

      <%= yield %>

    </div>

  </body>
</html>
